body {
    margin: 0;
    padding-bottom: 0;
    background-color:#EBD489;
}
body::after {
    content: "";
    background-color:#EBD489;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    min-height: 100vh;
    margin-bottom: -50px;
    }

.hero {
    grid-area: 1/ 1 / 1/ 4;
    background-image: url("https://www.alices.kitchen/wp-content/uploads/Cookware/basil-cook-cooking-691114-1280x640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .6;
}

.header {
    grid-area: 1/ 1 / 1/ 4;
    text-align: center;
    z-index: 0;
}
    
h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    color:black;
    font-size: 48px;
}
    
#headerText{
    z-index:  1;
    color: black;
}

#searchBar {
    width: 60%;
}

.main-search{
    grid-area: 2/2/2/3;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 5px;
}

.ingredient1{
display: inline;
}

.ingredient2{
    display: inline;
}

    .ingredButton{
    margin: 5px;
    padding: 5px
    
}

.results{
    grid-area: 3/2/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
} 

.thumbnail{
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: center;
}
.recipeTitle{
    grid-column-start: 1;
    grid-column-end: 1;
}

.recipeLinks{
    grid-column-start: 3;
    grid-column-end: 3;
}

.thumbnailImg{
    min-width: 25%;
    max-width: 40%;
}

footer {
    align-self: end;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 50px;
    text-align: center;
    padding: 10px;
}